*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  overflow-x: hidden;
}
.App{
  min-width:250px;
  /* min-height:700px; */
  width:100vw;
  /* height:100vh; */
  display:flex;
  flex-direction:column;
}
/* Header Part */
.header{
  /* background-color: aqua; */
  border: 2px solid #000000;
  width:100vw;
  height:50px;
  min-height:10vh;
}

/* Body Part */
.body{
  border: 2px solid #000000;
  /* background-color: bisque; */
  width:100vw;
  height:80vh;
  overflow: scroll;
}
.product{
  background-color: aliceblue;
  border:1px solid rgba(128, 128, 128, 0.47);
  width:95vw;
  height:120px;
  margin:5px;
  display: flex;
  padding:5px;
}
.img{
  width:90px;
  height: 90px;
}

/* Footer Part */
.footer{
  border: 2px solid #000000;
  /* background-color: blueviolet; */
  width:100vw;
  height:50px;
  min-height:10vh;
}


/* General */
::-webkit-scrollbar{
  width:4px;
}
::-webkit-scrollbar-track{
  background-color: azure;
}
::-webkit-scrollbar-thumb{
  background-color: rgba(35, 24, 35, 0.515);
  border-radius: 3px;
}
